body {
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .content{
    display: flex;
    width: 55%;
    height: auto;
    flex-direction: row;
    border-radius: 10px;
    background-color: #fff;
  }

  .content img{
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .content-2 {
    padding: 15px 48px;
    flex-direction: column;
    width: 60%;
    color: hsl(217, 19%, 35%);
  }

  .content-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
  }

  .footer-prof {
    display: flex;
    align-items: center;
    column-gap: 170px;
  }

  .content-footer img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }

  .footer-share button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: hsl(210, 46%, 95%);
    border: none;
  }

  .footer-share img {
    border-radius: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  @media (max-width: 1439px) {
    .container {
      width: auto;
      height: auto;
      flex-direction: column;
    }

    .container img {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }

    .content {
      flex-direction: column;
      width: auto;
    }

    .content-2 {
      flex-direction: column;
      width: 90%;
      padding-top: 0;
      padding-left: 20px;
      color: hsl(217, 19%, 35%);
    }

    .content-footer img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }

    .footer-prof {
      column-gap: 70px;
    }

    .footer-share img {
      border-radius: 0;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }